<div class="col-md-12 row-bordered">
    {%for line in joke.html_joke()%}
    <p>{{line}}</p>
    {%endfor%}
    <div class="like-stat">
        <!-- Like statistic container-->
        <span class="like-emo"> 
        {% for reaction in joke.order_reactions() %}
        <span class="reaction-btn like-btn-{{reaction[0]}}" rel="tooltip"  title="{{reaction[1]}}" data-placement="top"></span>
        {% endfor %}
        </span>
        <span class="like-details">{{joke.all_reactions()}}</span>
    </div>
</div>
<div class="joke-reaction col-md-2">
    <span class="like-btn">
						<span class="like-btn-emo like-btn-default"></span>
    <span class="like-btn-text"> Ohodnotiť</span>
    <ul class="reactions-box">
       <li class="reaction reaction-unamused" data-reaction="unamused" data-jokeid="{{joke.id}}" data-reactionid="1"></li>
        <li class="reaction reaction-neutral" data-reaction="neutral" data-jokeid="{{joke.id}}" data-reactionid="2"></li>
        <li class="reaction reaction-smile" data-reaction="smile" data-jokeid="{{joke.id}}" data-reactionid="3"></li>
        <li class="reaction reaction-funny" data-reaction="funny" data-jokeid="{{joke.id}}" data-reactionid="4"></li>
    </ul>
    </span>
</div>

<div class="col-md-2 joke-reaction">
    <div class="reaction-btn">
    <span><i class="fa fa-volume-up fa-share-alt "></i> &nbsp Zdielať</span>
    </div>
</div>