<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<h1>Kategória: {{ category.name }}</h1>
<hr> {%for joke in jokes%}
<div class="col-md-12 col-sm-12">
  <div class="card card-nav-tabs">

    <div class="content">
      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          <p>
            {%for line in joke.html_joke()%} {{line}}
            <br/> {%endfor%}
          </p>
          <button class="btn btn-success joke-like"><i class="fa fa-thumbs-o-up"></i></button>
          <button class="btn btn-danger joke-dislike"><i class="fa fa-thumbs-o-down"></i></button>
          <span class="sharing-area"><button class="btn btn-facebook facebook-share"><i class="fa fa-facebook"></i></button></span>
          <button class="btn btn-info play-voice-api"><i class="fa fa-volume-up"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
<div class="clear-fix"></div>
<div class="text-center"> {{ pagination.links }}</div>
{% endblock %} {%block scripts%}
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<!-- <script src="{{ url_for('static', filename='js/voice-api.js') }}" type="text/javascript"></script> -->
<script>
  $(".play-voice-api").click(function () {
    responsiveVoice.speak($(this).prev('p').text(), "Slovak Female");
  });
</script>

{%endblock%}