<!-- extend base layout -->
{% extends "base.html" %} {% block content %} {%for joke in jokes%}
<div class="col-md-12 col-sm-12">
  <div class="card card-nav-tabs">

    <div class="content">
      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          {%for line in joke.html_joke()%}
          <p>{{line}}</p>
          {%endfor%}
          <a href="{{ url_for('categories.category', name=joke.category.name) }}">{{joke.category.name}}</a>
           <button class="btn btn-success joke-like"><i class="fa fa-thumbs-o-up"></i></button>
          <button class="btn btn-danger joke-dislike"><i class="fa fa-thumbs-o-down"></i></button>
          <span class="sharing-area"><button class="btn btn-facebook facebook-share"><i class="fa fa-facebook"></i></button></span>
          <button class="btn btn-info play-voice-api"><i class="fa fa-volume-up"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
<div class="clear-fix"></div>
<div class="text-center"> {{ pagination.links }}</div>
{% endblock %}