<html>

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Vtipy starej matere</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/material-kit.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-notify.css') }}">

	{%block head%}{%endblock%}
</head>

<body class="components-page">
	<!-- Navbar -->
	{% include "menu.html" %} 
	<!-- End Navbar -->

	<div class="wrapper">
		<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1 class="title text-center">{% block title %}{{head_name|default}}{% endblock title %}</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="main main-raised">
			<div class="section section-tabs">
				<div class="container">
					{%block content%}{%endblock%}
				</div>
			</div>
		</div>
	{%include "footer.html" %}
	</div>

	<!--   Core JS Files   -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/material.min.js') }}" type="text/javascript"></script>



	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{{ url_for('static', filename='js/material-kit.js') }}" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}" type="text/javascript"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/initial.js') }}" type="text/javascript"></script>
	{%block scripts%}{%endblock%}
</body>

</html>