<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<ul>
						<li>
							<a href="{{ url_for('categories.index') }}">
							Kategórie
						</a>
						</li>
						<li>
							<a href="http://presentation.creative-tim.com">
						   Top vtipy
						</a>
						</li>
						<li>
							<a href="http://blog.creative-tim.com">
						   Galéria vtipov
						</a>
						</li>
						<li>
							<a href="http://www.creative-tim.com/license">
							Smiech nikdy nespí
						</a>
						</li>
					</ul>
				</nav>
				<div class="copyright pull-right">
					&copy; 2016, Túto webovú stránku sme vytvorili so <i class="material-icons">favorite</i> Váš AppoxideLab
				</div>
			</div>
		</footer>