<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
			<a class="navbar-brand" href="/">Smútok neexistuje &nbsp {% if category%}( {{category.name}} ){%endif%}<div class="ripple-container"></div></a>
		</div>

		<div class="collapse navbar-collapse" id="navigation-index">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ url_for('categories.index') }}">
						<i class="material-icons">toc</i> Kategórie
					</a>
				</li>
				<li>
					<a href="{{ url_for('jokes.index') }}">
						<i class="material-icons">grade</i> Najlepšie vtipy
					</a>
				</li>
				<li>
					<a href="{{ url_for_security('login') }}">
						<i class="material-icons">person</i> {{_("Prihlásenie")}}
					</a>
				</li>
				<li>
					<a href="{{ url_for_security('register') }}">
						<i class="material-icons">people</i> {{_("Registrácia")}}
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Sleduj nás na Twittri" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank"
					    class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Lajkni náš FB" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank"
					    class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Sleduj nás na Insta" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial"
					    target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-instagram"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>